index.html
{
  "name": "WhatsApp + Supabase v4 (Cloud Compatible)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n001",
      "name": "GET Verificação Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query;\nconst VERIFY_TOKEN = 'SEU_TOKEN_SECRETO';\nif (q['hub.mode'] === 'subscribe' && q['hub.verify_token'] === VERIFY_TOKEN)\n  return [{ json: { challenge: q['hub.challenge'] } }];\nreturn [{ json: { error: 'token invalido' } }];"
      },
      "id": "n002",
      "name": "Checar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n003",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        580,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n004",
      "name": "POST Receber Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        320
      ],
      "notes": "URL: https://SEU-N8N/webhook/whatsapp-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n005",
      "name": "200 OK Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "notes": "Responde 200 imediatamente para a Meta"
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados da mensagem — SEM chamadas HTTP\nconst body = $input.first().json.body || $input.first().json;\nconst value = body?.entry?.[0]?.changes?.[0]?.value;\nif (!value?.messages?.length) return [{ json: { skip: true } }];\nconst msg = value.messages[0];\nconst contact = value.contacts?.[0];\nconst phoneNumberId = value?.metadata?.phone_number_id || '1104382106082913';\nlet text = '', btnPayload = null, isBtnClick = false, mediaId = null, mediaType = null;\nif (msg.type === 'interactive') {\n  const t = msg.interactive?.type;\n  if (t === 'button_reply') { btnPayload = msg.interactive.button_reply.id; text = msg.interactive.button_reply.title; isBtnClick = true; }\n  else if (t === 'list_reply') { btnPayload = msg.interactive.list_reply.id; text = msg.interactive.list_reply.title; isBtnClick = true; }\n} else if (['image','audio','video','document'].includes(msg.type)) {\n  mediaType = msg.type;\n  mediaId = msg[msg.type]?.id || null;\n  text = msg[msg.type]?.caption || '';\n} else {\n  const m = { location: '📍 [Localização]', sticker: '🎉 [Sticker]' };\n  text = msg.type === 'text' ? (msg.text?.body || '') : (m[msg.type] || '[' + msg.type + ']');\n}\nreturn [{ json: { skip: false, phone: msg.from, name: contact?.profile?.name || msg.from, text, isBtnClick, btnPayload, messageId: msg.id, phoneNumberId, mediaId, mediaType } }];"
      },
      "id": "n006",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        400
      ],
      "notes": "Apenas lógica pura — sem HTTP"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "n007",
      "name": "Msg Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados para uso no fluxo — SEM montar payload de save ainda\nconst d = $input.first().json;\nconst lastLabel = d.mediaType\n  ? ({ image: '🖼️ Imagem', audio: '🎤 Áudio', video: '🎥 Vídeo', document: '📄 Documento' }[d.mediaType] || '📎 Mídia')\n  : (d.text || '');\nreturn [{ json: { ...d, lastLabel } }];"
      },
      "id": "n008",
      "name": "Montar Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ],
      "notes": "Apenas lógica pura — sem HTTP"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.msgPayload }}",
        "options": {}
      },
      "id": "n009",
      "name": "Salvar Mensagem → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        280
      ],
      "notes": "Prefer return=representation retorna o ID gerado — usado para atualizar com media_url depois"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.contactPayload }}",
        "options": {}
      },
      "id": "n010",
      "name": "Upsert Contato → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-media",
              "leftValue": "={{ $json.mediaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n011",
      "name": "Tem Mídia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        560
      ],
      "notes": "Se tem mídia, processa download. Se não, vai direto para automações."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_numeros?phone_number_id=eq.{{ $json.phoneNumberId }}&select=access_token&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            }
          ]
        },
        "options": {}
      },
      "id": "n012",
      "name": "Buscar Token do Número",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        480
      ],
      "notes": "Busca o access_token pelo phoneNumberId"
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('Montar Payloads').first().json;\nconst raw = $input.first().json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst token = arr[0]?.access_token || '';\nif (!token) throw new Error('Token não encontrado para phoneNumberId: ' + msgData.phoneNumberId + '. Cadastre o número na aba Números.');\nreturn [{ json: { ...msgData, waToken: token } }];"
      },
      "id": "n013",
      "name": "Combinar Token + Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        480
      ],
      "notes": "Junta o token com os dados da mensagem"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.waToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n014",
      "name": "Buscar URL Mídia na Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        480
      ],
      "notes": "Retorna {url, mime_type} do arquivo de mídia"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Combinar Token + Msg').first().json;\nconst metaData = $input.first().json;\n\nif (!metaData.url || metaData.error) {\n  const msgPayload = { phone: prev.phone, text: prev.text || '', direction: 'in', auto: false, media_url: null, media_type: null };\n  const contactPayload = { phone: prev.phone, name: prev.name || prev.phone, last_msg: prev.text || '', last_time: Date.now(), unread: 1 };\n  return [{ json: { ...prev, skipMedia: true, msgPayload, contactPayload } }];\n}\n\n// Limpar mime_type — remover codecs e parâmetros extras\n// ex: \"audio/ogg; codecs=opus\" → \"audio/ogg\"\nconst rawMime = metaData.mime_type || 'application/octet-stream';\nconst mime = rawMime.split(';')[0].trim();\n\n// Mapeamento de extensões por mime type\nconst extMap = {\n  'image/jpeg': 'jpg',\n  'image/jpg': 'jpg',\n  'image/png': 'png',\n  'image/webp': 'webp',\n  'image/gif': 'gif',\n  'audio/ogg': 'ogg',\n  'audio/mpeg': 'mp3',\n  'audio/mp4': 'm4a',\n  'audio/aac': 'aac',\n  'audio/amr': 'amr',\n  'video/mp4': 'mp4',\n  'video/3gpp': '3gp',\n  'application/pdf': 'pdf',\n  'application/msword': 'doc',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'docx',\n};\n\nconst ext = extMap[mime] || mime.split('/')[1] || 'bin';\nconst fileName = prev.phone + '_' + Date.now() + '.' + ext;\n\nreturn [{ json: { ...prev, metaMediaUrl: metaData.url, mime, ext, fileName, skipMedia: false } }];"
      },
      "id": "n015",
      "name": "Preparar Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        480
      ],
      "notes": "Prepara nome do arquivo e mime type"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.metaMediaUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.waToken }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n016",
      "name": "Download Mídia da Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        480
      ],
      "notes": "Baixa o binário — responseFormat: file",
      "headerParameters": {
        "parameters": [
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + $json.waToken }}"
          }
        ]
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://ojgcddedmvuzealgbplq.supabase.co/storage/v1/object/whatsapp/' + $('Preparar Download').first().json.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Content-Type",
              "value": "={{ $('Preparar Download').first().json.mime }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "n017",
      "name": "Upload Mídia → Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        480
      ],
      "notes": "Upload binário para o bucket whatsapp do Supabase Storage"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar Download').first().json;\nconst SUPA_URL = 'https://ojgcddedmvuzealgbplq.supabase.co';\nconst media_url = SUPA_URL + '/storage/v1/object/public/whatsapp/' + prep.fileName;\n\nconst typeLabels = { image: '🖼️ Imagem', audio: '🎤 Áudio', video: '🎥 Vídeo', document: '📄 Documento' };\nconst lastLabel = typeLabels[prep.mediaType] || '📎 Mídia';\n\nconst msgPayload = {\n  phone: prep.phone,\n  text: prep.text || '',\n  direction: 'in',\n  auto: false,\n  media_url: media_url,\n  media_type: prep.mediaType\n};\nconst contactPayload = {\n  phone: prep.phone,\n  name: prep.name || prep.phone,\n  last_msg: lastLabel,\n  last_time: Date.now(),\n  unread: 1\n};\nreturn [{ json: { ...prep, media_url, msgPayload, contactPayload } }];"
      },
      "id": "n018",
      "name": "Montar URL Pública",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_messages?phone=eq.{{ $json.phone }}&direction=eq.in&auto=eq.false&order=timestamp.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { media_url: $json.media_url, media_type: $json.mediaType } }}",
        "options": {}
      },
      "id": "n019",
      "name": "Atualizar Msg com Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        480
      ],
      "notes": "PATCH na mensagem mais recente do contato sem media_url"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Se já tem msgPayload montado (vem do fluxo de mídia), usa direto\nif (d.msgPayload && d.msgPayload.phone) {\n  return [{ json: d }];\n}\n\n// Branch sem mídia — monta agora\nconst msgPayload = {\n  phone: d.phone,\n  text: d.text || '',\n  direction: 'in',\n  auto: false,\n  media_url: null,\n  media_type: null\n};\nconst contactPayload = {\n  phone: d.phone,\n  name: d.name || d.phone,\n  last_msg: d.text || '',\n  last_time: Date.now(),\n  unread: 1\n};\nreturn [{ json: { ...d, msgPayload, contactPayload } }];"
      },
      "id": "n020",
      "name": "Unificar Fluxo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        700
      ],
      "notes": "Junta os dois caminhos (com mídia e sem mídia) antes de buscar automações"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_automacoes?ativo=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            }
          ]
        },
        "options": {}
      },
      "id": "n021",
      "name": "Buscar Automações → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const autos = Array.isArray($input.first().json) ? $input.first().json : [];\nconst dados = $('Unificar Fluxo').first().json;\nconst txtLower = (dados.text || '').toLowerCase();\nconst isBtnClk = dados.isBtnClick || false;\nconst btnPld = dados.btnPayload || '';\nconst hr = new Date().getHours();\nlet match = null;\nfor (const a of autos) {\n  if (!a.ativo) continue;\n  if (isBtnClk) {\n    if (a.gatilho === 'botao_clicado' && a.botao_id === btnPld) { match = a; break; }\n    continue;\n  }\n  if (a.gatilho === 'palavra') {\n    const words = (a.palavras || '').split(',').map(w => w.trim().toLowerCase()).filter(Boolean);\n    if (words.some(w => txtLower.includes(w))) { match = a; break; }\n  }\n  if (a.gatilho === 'qualquer') { match = a; break; }\n  if (a.gatilho === 'horario') {\n    const ini = parseInt(a.hora_ini), fim = parseInt(a.hora_fim);\n    const fora = ini > fim ? (hr >= ini || hr < fim) : (hr >= ini && hr < fim);\n    if (fora) { match = a; break; }\n  }\n  if (a.gatilho === 'novo_contato') {\n    return [{ json: { ...dados, match, checkNovo: true, novoResp: a } }];\n  }\n}\nreturn [{ json: { ...dados, match, checkNovo: false, hasMatch: !!match } }];"
      },
      "id": "n022",
      "name": "Avaliar Automações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.checkNovo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "n023",
      "name": "Verificar Novo Contato?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_messages?phone=eq.{{ encodeURIComponent($json.phone) }}&direction=eq.in&select=id&limit=2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            }
          ]
        },
        "options": {}
      },
      "id": "n024",
      "name": "Contar Msgs Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($input.first().json) ? $input.first().json : [];\nconst dados = $('Unificar Fluxo').first().json;\nconst novoResp = dados.novoResp;\nconst isNew = rows.length <= 1;\nreturn [{ json: { ...dados, match: isNew ? novoResp : null, checkNovo: false, hasMatch: isNew } }];"
      },
      "id": "n025",
      "name": "É Novo Contato?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.hasMatch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "n026",
      "name": "Tem Automação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2700,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_numeros?phone_number_id=eq.{{ $json.phoneNumberId }}&select=access_token&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            }
          ]
        },
        "options": {}
      },
      "id": "n027",
      "name": "Buscar Token p/ Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const numData = Array.isArray($input.first().json) ? $input.first().json : [$input.first().json];\nconst accessToken = numData[0]?.access_token || '';\nif (!accessToken) throw new Error('Token não encontrado. Cadastre o número na aba Números do painel.');\nconst dados = $('Unificar Fluxo').first().json;\nconst a = dados.match;\nif (!a) return [];\nconst phone = dados.phone;\nconst name = dados.name || phone;\nlet resposta = (a.resposta || '').replace(/\\{nome\\}/gi, name).replace(/\\{numero\\}/gi, phone);\nconst hasBotoes = a.tipo_msg === 'botoes' && Array.isArray(a.botoes) && a.botoes.length > 0;\nlet waPayload;\nif (hasBotoes) {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'interactive', interactive: { type: 'button', body: { text: resposta }, action: { buttons: a.botoes.slice(0,3).map(b => ({ type: 'reply', reply: { id: b.id, title: b.title.substring(0,20) } })) } } };\n} else {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'text', text: { body: resposta } };\n}\nconst autoMsgPayload = { phone, text: resposta, direction: 'out', auto: true, buttons: hasBotoes ? a.botoes : null };\nreturn [{ json: { ...dados, resposta, hasBotoes, waPayload, autoMsgPayload, phoneNumberId: dados.phoneNumberId, accessToken } }];"
      },
      "id": "n028",
      "name": "Montar Payload Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.waPayload }}",
        "options": {}
      },
      "id": "n029",
      "name": "Enviar Resposta → WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ojgcddedmvuzealgbplq.supabase.co/rest/v1/whatsapp_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2NkZGVkbXZ1emVhbGdicGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDE0MTQsImV4cCI6MjA5NDY3NzQxNH0.WGfc8sQTTxGk3K7098jCUczSIwAQ7j9SqLBUAWELu60"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.autoMsgPayload }}",
        "options": {}
      },
      "id": "n030",
      "name": "Salvar Resposta Auto → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n031",
      "name": "POST Envio Manual (Painel)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        960
      ],
      "notes": "URL: https://SEU-N8N/webhook/whatsapp-send"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst phoneNumberId = b.phoneNumberId || '1104382106082913';\nconst accessToken = b.accessToken || '';\nconst phone = b.phone;\nconst message = b.message || '';\nconst media_url = b.media_url || null;\nconst media_type = b.media_type || null;\nlet waPayload;\nif (media_url && media_type === 'image') {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'image', image: { link: media_url, caption: message } };\n} else if (media_url && media_type === 'audio') {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'audio', audio: { link: media_url } };\n} else if (media_url && media_type === 'video') {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'video', video: { link: media_url, caption: message } };\n} else if (media_url) {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'document', document: { link: media_url, caption: message } };\n} else {\n  waPayload = { messaging_product: 'whatsapp', to: phone, type: 'text', text: { body: message } };\n}\nreturn [{ json: { ...b, phoneNumberId, accessToken, waPayload } }];"
      },
      "id": "n032",
      "name": "Montar Envio Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken || $vars.WA_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.waPayload }}",
        "options": {}
      },
      "id": "n033",
      "name": "Enviar Manual → WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"sent\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n034",
      "name": "Responder Painel OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skipMedia }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n_skip_media",
      "name": "Pular Download?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        580
      ],
      "notes": "TRUE = skipMedia → vai direto para Unificar Fluxo\nFALSE = tem mídia → continua para Download"
    }
  ],
  "connections": {
    "GET Verificação Meta": {
      "main": [
        [
          {
            "node": "Checar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Token": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Receber Mensagem": {
      "main": [
        [
          {
            "node": "200 OK Meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "Msg Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Válida?": {
      "main": [
        [
          {
            "node": "Montar Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payloads": {
      "main": [
        [
          {
            "node": "Tem Mídia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mídia?": {
      "main": [
        [
          {
            "node": "Buscar Token do Número",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unificar Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Token do Número": {
      "main": [
        [
          {
            "node": "Combinar Token + Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Token + Msg": {
      "main": [
        [
          {
            "node": "Buscar URL Mídia na Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar URL Mídia na Meta": {
      "main": [
        [
          {
            "node": "Preparar Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Download": {
      "main": [
        [
          {
            "node": "Pular Download?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Mídia da Meta": {
      "main": [
        [
          {
            "node": "Upload Mídia → Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Mídia → Supabase Storage": {
      "main": [
        [
          {
            "node": "Montar URL Pública",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar URL Pública": {
      "main": [
        [
          {
            "node": "Unificar Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Fluxo": {
      "main": [
        [
          {
            "node": "Salvar Mensagem → Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Contato → Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Automações → Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Automações → Supabase": {
      "main": [
        [
          {
            "node": "Avaliar Automações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Automações": {
      "main": [
        [
          {
            "node": "Verificar Novo Contato?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Novo Contato?": {
      "main": [
        [
          {
            "node": "Contar Msgs Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem Automação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar Msgs Contato": {
      "main": [
        [
          {
            "node": "É Novo Contato?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Novo Contato?": {
      "main": [
        [
          {
            "node": "Tem Automação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Automação?": {
      "main": [
        [
          {
            "node": "Buscar Token p/ Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Token p/ Resposta": {
      "main": [
        [
          {
            "node": "Montar Payload Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload Resposta": {
      "main": [
        [
          {
            "node": "Enviar Resposta → WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Resposta Auto → Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Envio Manual (Painel)": {
      "main": [
        [
          {
            "node": "Montar Envio Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Envio Manual": {
      "main": [
        [
          {
            "node": "Enviar Manual → WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Manual → WhatsApp": {
      "main": [
        [
          {
            "node": "Responder Painel OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pular Download?": {
      "main": [
        [
          {
            "node": "Unificar Fluxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Mídia da Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    "whatsapp",
    "supabase",
    "v4"
  ]
}
